{% extends 'survey/base.html' %}
{% load i18n %}

{% block title %}{% trans "Survey Submitted!" %}{% endblock title %}

{% block body %}
<h1>{% trans "Survey submitted"%}</h1>
<p>
    <div class="alert alert-success">
       {% trans "Thanks! Your answers have been saved" %}
    </div>
{% trans "Redirecting..." %}
    <html>
        <meta http-equiv="refresh" content="2;url=/survey" />
{#         <button><a href="/survey">Home</a></button>#}
{#         <button><a href="/survey">Do Another!</a></button>#}
    </html>
</p>
{% endblock %}
